* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#header-img {
  margin: 0;
  width: 48px;
  height: 48px;
}

header * {
  color: white;
  margin: 5px 0px;
}

header {
  display: grid;
  background: rgb(255, 30, 30);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-content: center;
  padding: 0 10px;
  position: sticky;
  top: 0;
}

header div {
  display: flex;
  width: auto;
}

nav {
  display: inline;
  grid-column-start: end;
  align-content: center;
  font-size: 20px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

figure img {
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border: 2px black solid;
}

#menu-food {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
}

#menu-food article {
  display: flex;
  background: rgb(255, 255, 80);
  max-width: 250px;
  flex-direction: column;
  padding: 15px;
  border: 5px solid rgb(255, 30, 30);
  border-radius: 15px;
}

h2 {
  text-align: center;
}

figure {
  margin: 0;
}

#order-form {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0px;
}

.btn-submit {
  padding: 8px 16px;
  border-radius: 15px;
  background: rgb(255, 30, 30);
  color: white;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: rgb(255, 100, 50);
  color: white;
}
